ArchRefServer/ArchRef_Server/UploadData/xml/NewXMLSchema1.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:complexType name="relationshipType">
    <xs:complexContent>
      <xs:extension base="entity">
        <xs:sequence>
          <xs:element name="repository" type="repository" minOccurs="0"/>
          <xs:element name="repositoryId" type="xs:long" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="entity">
    <xs:sequence>
      <xs:element name="expectedProperties" type="expectedProperty" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="icon" type="xs:string" minOccurs="0"/>
      <xs:element name="id" type="xs:long" minOccurs="0"/>
      <xs:element name="name" type="xs:string" minOccurs="0"/>
      <xs:element name="providedProperties" type="providedProperty" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="repository">
    <xs:sequence>
      <xs:element name="id" type="xs:long" minOccurs="0"/>
      <xs:element name="name" type="xs:string" minOccurs="0"/>
      <xs:element name="nodeTypeList" type="nodeType" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="relationshipTypeList" type="relationshipType" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="nodeType">
    <xs:complexContent>
      <xs:extension base="entity">
        <xs:sequence>
          <xs:element name="repository" type="repository" minOccurs="0"/>
          <xs:element name="repositoryId" type="xs:long" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="expectedProperty">
    <xs:complexContent>
      <xs:extension base="property">
        <xs:sequence>
          <xs:element name="entityExpected" type="entity" minOccurs="0"/>
          <xs:element name="entityExpectedId" type="xs:long" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="property">
    <xs:sequence>
      <xs:element name="id" type="xs:long" minOccurs="0"/>
      <xs:element name="name" type="xs:string" minOccurs="0"/>
      <xs:element name="value" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="providedProperty">
    <xs:complexContent>
      <xs:extension base="property">
        <xs:sequence>
          <xs:element name="entityProvided" type="entity" minOccurs="0"/>
          <xs:element name="entityProvidedId" type="xs:long" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="topologyTemplate">
    <xs:sequence>
      <xs:element name="abstractionLevel" type="xs:int"/>
      <xs:element name="id" type="xs:long" minOccurs="0"/>
      <xs:element name="name" type="xs:string" minOccurs="0"/>
      <xs:element name="parentTopologyTemplate" type="topologyTemplate" minOccurs="0"/>
      <xs:element name="parentTopologyTemplateID" type="xs:long" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="level">
    <xs:sequence>
      <xs:element name="depth" type="xs:int"/>
      <xs:element name="height" type="xs:int" minOccurs="0"/>
      <xs:element name="id" type="xs:long" minOccurs="0"/>
      <xs:element name="levelGraph" type="levelGraph" minOccurs="0"/>
      <xs:element name="levelGraphId" type="xs:long" minOccurs="0"/>
      <xs:element name="visible" type="xs:boolean" minOccurs="0"/>
      <xs:element name="y" type="xs:int" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="levelGraph">
    <xs:sequence>
      <xs:element name="depth" type="xs:int"/>
      <xs:element name="id" type="xs:long" minOccurs="0"/>
      <xs:element name="levelGraphNodes" type="levelGraphNode" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="levelGraphRelations" type="levelGraphRelation" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="levels" type="level" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="name" type="xs:string" minOccurs="0"/>
      <xs:element name="nodeTypeFragments" type="arrayList" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="nodeTypes" type="arrayList" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="relationshipTypeFragments" type="arrayList" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="relationshipTypes" type="arrayList" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="levelGraphNode">
    <xs:complexContent>
      <xs:extension base="node">
        <xs:sequence>
          <xs:element name="inLevelGraphRelations" type="levelGraphRelation" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="level" type="level" minOccurs="0"/>
          <xs:element name="levelDepth" type="xs:int"/>
          <xs:element name="levelGraph" type="levelGraph" minOccurs="0"/>
          <xs:element name="levelGraphId" type="xs:long" minOccurs="0"/>
          <xs:element name="levelGraphNodeType" type="xs:string" minOccurs="0"/>
          <xs:element name="levelGraphNodeTypeId" type="xs:long"/>
          <xs:element name="levelId" type="xs:long" minOccurs="0"/>
          <xs:element name="outLevelGraphRelations" type="levelGraphRelation" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="node">
    <xs:complexContent>
      <xs:extension base="entity">
        <xs:sequence>
          <xs:element name="depthBFS" type="xs:int"/>
          <xs:element name="height" type="xs:float"/>
          <xs:element name="refined" type="xs:boolean"/>
          <xs:element name="visited" type="xs:boolean"/>
          <xs:element name="width" type="xs:float"/>
          <xs:element name="x" type="xs:float"/>
          <xs:element name="y" type="xs:float"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="levelGraphRelation">
    <xs:complexContent>
      <xs:extension base="relation">
        <xs:sequence>
          <xs:element name="levelGraph" type="levelGraph" minOccurs="0"/>
          <xs:element name="levelGraphId" type="xs:long" minOccurs="0"/>
          <xs:element name="levelGraphRelationType" type="xs:string" minOccurs="0"/>
          <xs:element name="sourceLevel" type="level" minOccurs="0"/>
          <xs:element name="sourceLevelDepth" type="xs:int" minOccurs="0"/>
          <xs:element name="sourceLevelGraphNode" type="levelGraphNode" minOccurs="0"/>
          <xs:element name="sourceLevelId" type="xs:long" minOccurs="0"/>
          <xs:element name="targetLevel" type="level" minOccurs="0"/>
          <xs:element name="targetLevelDepth" type="xs:int" minOccurs="0"/>
          <xs:element name="targetLevelGraphNode" type="levelGraphNode" minOccurs="0"/>
          <xs:element name="targetLevelId" type="xs:long" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="relation">
    <xs:complexContent>
      <xs:extension base="entity">
        <xs:sequence>
          <xs:element name="path" type="path" minOccurs="0"/>
          <xs:element name="refined" type="xs:boolean"/>
          <xs:element name="sourceNodeId" type="xs:long" minOccurs="0"/>
          <xs:element name="targetNodeId" type="xs:long" minOccurs="0"/>
          <xs:element name="visited" type="xs:boolean"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="path">
    <xs:sequence>
      <xs:element name="id" type="xs:long" minOccurs="0"/>
      <xs:element name="pathDataString" type="xs:string" minOccurs="0"/>
      <xs:element name="points" type="point" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="relation" type="relation" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="point">
    <xs:sequence>
      <xs:element name="id" type="xs:long" minOccurs="0"/>
      <xs:element name="x" type="xs:int" minOccurs="0"/>
      <xs:element name="y" type="xs:int" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="arrayList">
    <xs:complexContent>
      <xs:extension base="abstractList">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="abstractList" abstract="true">
    <xs:complexContent>
      <xs:extension base="abstractCollection">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="abstractCollection" abstract="true">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="nodeTypeFragment">
    <xs:complexContent>
      <xs:extension base="fragmentType">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="fragmentType">
    <xs:complexContent>
      <xs:extension base="entity">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="constants">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="relationshipTypeFragment">
    <xs:complexContent>
      <xs:extension base="fragmentType">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="relationshipTemplate">
    <xs:complexContent>
      <xs:extension base="relation">
        <xs:sequence>
          <xs:element name="abstractionLevel" type="xs:int" minOccurs="0"/>
          <xs:element name="levelGraphNode" type="levelGraphNode" minOccurs="0"/>
          <xs:element name="levelGraphNodeId" type="xs:long" minOccurs="0"/>
          <xs:element name="relationshipType" type="relationshipType" minOccurs="0"/>
          <xs:element name="relationshipTypeId" type="xs:long" minOccurs="0"/>
          <xs:element name="sourceNodeTemplate" type="nodeTemplate" minOccurs="0"/>
          <xs:element name="targetNodeTemplate" type="nodeTemplate" minOccurs="0"/>
          <xs:element name="topologyTemplate" type="topologyTemplate" minOccurs="0"/>
          <xs:element name="topologyTemplateId" type="xs:long" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="nodeTemplate">
    <xs:complexContent>
      <xs:extension base="node">
        <xs:sequence>
          <xs:element name="abstractionLevel" type="xs:int" minOccurs="0"/>
          <xs:element name="inRelationshipTemplates" type="relationshipTemplate" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="levelGraphNode" type="levelGraphNode" minOccurs="0"/>
          <xs:element name="levelGraphNodeId" type="xs:long" minOccurs="0"/>
          <xs:element name="nodeType" type="nodeType" minOccurs="0"/>
          <xs:element name="nodeTypeId" type="xs:long" minOccurs="0"/>
          <xs:element name="outRelationshipTemplates" type="relationshipTemplate" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="topologyTemplate" type="topologyTemplate" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
</xs:schema>

